*{ margin:0; padding:0; list-style: none; text-decoration: none;}
/*--------------全部开始----------*/
body{
	background:#eee;
}
.head{
	width:990px;
	height: 30px;
	margin:0 auto;
	height:30px;
	font-size:12px;
	line-height:30px;
	color:#777;
}
.head a{
	color:#777;
	width:55px;
}
.head .left{
	float:left;
	width:50%;
}
.head .right{
	float:right;
	width:50%;
	position:relative;
}
.head .left li{
	float:left;
	padding:0 10px;
}
.left a:hover{
	color:red;
	}
.head .right li{
	float:left;
	
	padding:0 5px;
}

.head .right ul{
	float:right;
}
.right a:hover{
	color:red;
	text-decoration:underline;
}
.head .right .iconfont{
	color:red;
}
.head .left ul{
	padding-left:25px;
}
.head .right .right_1{
	position:relative;
}
.head .right .right_2{
	position:relative;
}
.head .right .right_1 a{
    height: 20px;
    cursor: pointer;
    z-index: 1000;
   	width:74px;
   	text-align:center;
   	line-height:20px;
    position: relative;
}
.head  .right .right_1 div{
	width:94px;
	height:60px;
	background:#fff;
	text-align: center;
	line-height:20px;
	position:absolute;
	top:29px;
	left:-1px;
	display:none;
	border:1px solid #ddd;
	border-top:none;
}
.head .right .right_2 a{
    height: 20px;
    cursor: pointer;
    z-index: 1000;
   	width:74px;
   	text-align:center;
   	line-height:20px;
    position: relative;

}
.head  .right .right_2 div{
	width:75px;
	height:60px;
	background:#fff;
	text-align: center;
	line-height:20px;
	position:absolute;
	top:29px;
	left:-1px;
	display:none;
	border:1px solid #ddd;
	border-top:none;
}
.head .right .right_1 a:hover+div{
	display:block;
}
.head .right .right_1:hover{
	background:#fff;
	border:1px solid #ddd;
    border-bottom:none;
}
.head .right .right_2 a:hover+div{
	display:block;
}
.head .right .right_2:hover{
	background:#fff;
	border:1px solid #ddd;
    border-bottom:none;
}
.head .right .right_4{
	position:relative;
}
.head .right .right_3{
	position:relative;
}
.head  .right .right_3 div{
	width:175px;
	height:200px;
	z-index:10000;
	display:none;
	position:absolute;
	top:29px;
	left:-50px;
}
.right_3_1_0{
	width:175px;
	height:160px;
	position:relative;
	color:#000;
}
.right_3_1_1{
	position:absolute;
	top:155px;
	left:20px;
}
.head .right .right_3:hover{
	background:#fff;
}
.head .right .right_3:hover div{
	display:block;
}
.head  .right .right_4 div{
	width:135px;
	height:170px;
	background:#fff;
	text-align: center;
	line-height:20px;
	position:absolute;
	top:29px;
	left:-68px;
	display:none;
	border:1px solid #ddd;
	border-top:none;
	z-index:10000;
}
.right_4_1 b{
	display:inline-block;
	margin-left:-75px;
}
.right_4_1 span{
	display:inline-block;
	width:125px;
	height:60px;
	border-bottom:1px dashed #eee;
	text-align: center;
	line-height:30px;
}
.head .right .right_4:hover{
	background:#fff;
	border:1px solid #ddd;
    border-bottom:none;
}
.head .right .right_4:hover div{
	display:block;
}
#all{
	width: 100%;
	position: relative;
}
.sou{
	width:990px;
	height:92px;
	margin:0 auto;
}
.sou .sou1{
	float:right;
	margin:30px 0;
}
.sou1 button{
	float:right;
	height:100%;
	font-size:16px;
	color:#fff;
}
/*-----------顶部登录框-----------*/
#top_link{
	width: 100%;
	height: 30px;
	margin:0 auto;
	border:1px solid #E5E5E5;
	line-height: 30px;
	background: #F2F2F2;
	position: relative;
	font-size: 12px;
}
#top_link .top_links{
	width: 1230px;
	height: 30px;
	margin:0 auto;
	background: #F2F2F2;
	position: relative;
}

#top_link .top_links .login{
	width: 250px;
	height: 30px;
	float: left;
}
#top_link .top_links .login li{
	float: left;
	margin-left: 20px;
	color: #999999;
	font-size: 14px;
}
#top_link .top_links .login li a{
	color: #999;
	text-decoration: none;
}
#top_link .top_links .login li a:hover{
	color: #ff0036;
}
.nav-menu{
	float: right;
}
.nav-menu li{
	float: left;
	position: relative;
}
/*.nav-menu .lis_item3{
	padding: 0px 5px;
}*/
.nav-menu .sn-menu{
	position: relative;
	line-height: 30px;
}
.nav-menu .menu-hd{
	position: relative;
	padding:0px 10px;
	display: block;
	border:1px solid #f2f2f2;
	border-top: none;
	border-bottom-color:transparent;
	color:#999;
	z-index:20;
	top:1px;
}
.nav-menu .menu-no{
	position: absolute;
	width:74px;
	background:#fff;
	padding:8px 10px;
	border:1px solid #eee;
	border-top:none;
	top:31px;
	left:0;
	display:none ;
	z-index: 20;
}
.nav-menu .menu-no a{
	display: block;
	line-height: 20px;
	color:#666;
}
.nav-menu .menu-no a:hover{
	color:#ff0036;
}
.active{
	color:#ff0036;
	background:#fff;
	border-bottom: #fff;
	text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-style: initial;
    text-decoration-color: initial;
	
}
.sn-menu .menu-hd i{
	position: absolute;
    right: 0px;
    top: 13px;
    width: 0;
    height: 0;
    border-width: 4px;
    border-style: solid dashed dashed;
    border-color: #bbb transparent transparent;
    font-size: 0;
    line-height: 0;
}
.lis_item2 a,.lis_item4 a,.lis_item5 a{
	text-align: center;
	line-height: 32px;
	color:#999;
	padding:0 10px;
}

.sn-menu:hover .menu-no{
	display: block;    
}
.sn-menu:hover .menu-hd{
	color: #FF0036;
	text-decoration: underline;
	background:#fff;
	border-bottom: #fff
}

.lis_item2 a:hover,.lis_item4 a:hover,.lis_item5 a:hover{
	color: #FF0036;
}
/*商家支持*/
.lis_item6 .menu-no{
	width:122px;
	overflow: hidden;
	padding:8px 10px;
}

.lis_item6 .menu-no ul li{
	padding: 5px 0;
    display: block;
    line-height: 1.4;
    border-bottom: 1px dotted #827777;
    margin-right: -20px;
    overflow: hidden;
}
.lis_item6 .menu-no ul li a{
	display: inline-block;
    width: 48px;
    margin-right: 20px;
    line-height: 22px;
}
.lis_item6 .menu-no ul li h3{
	color:#666;
	font-weight: 700;
	font-size: 12px;
}
.nav-menu .lis_item6 .menu-no{
	left:-74px;
}
/*网站导航*/

.lis_item7 .menu-no{
	width:1198px;
	padding:25px 0;
	left:-1120px;
	/*border-width: 0px 1px 1px;
	border:solid #eee;*/
}
.lis_item7 .menu-no .site-cont{
	height:120px;
	float: left;
	padding-left:30px;
}
.lis_item7 .menu-no .site-hot,.lis_item7 .menu-no .site-market{
	width:455px;
	
}
.lis_item7 .menu-no .site-cont h2{
	font-size: 16px;
    padding-bottom: 8px;
    font-weight: normal;
}
.lis_item7 .menu-no .site-hot{
	color: #f56a00;
}
.lis_item7 .menu-no .site-cont ul{
	margin-right: -20px;
    overflow: hidden;
}
.lis_item7 .menu-no .site-cont ul li{
	width: 95px;
    float: left;
    padding: 6px 0;
    overflow: hidden;
    position: relative;
}
.lis_item7 .menu-no .site-help{
	width:195px;
}
.lis_item7 .menu-no .site-cont ul li a{
	color:#666;
}
.lis_item7 .menu-no .site-market{
	border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
}
.sn-sitemap-icon {
	display: inline-block;
    position: absolute;
    width: 9px;
    height: 11px;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    top: 1px;
    right: 38px;
    background: url(../images/sn-icon.png) -9999px -9999px no-repeat;
}
.sn-sitemap-icon-hot {
    background-position: -37px 0;
}
.sn-sitemap-icon-new {
    background-position: -36px -11px;
}
.lis_item7 .menu-no .site-market .sn-sitemap-icon{
	right:61px;
}
.lis_item7 .menu-no .site-hot .sn-sitemap-icon-eat{
	right:52px;
}
.lis_item7 .menu-no .site-market h2{
	color: #2263d4;
}

/*导航图标*/
.lis_item2 i,.lis_item4 i,.lis_item7 b{
	display: inline-block;
	background:url(../image/index/cart-icon.png) 0 0 no-repeat;
	width:12px;
	height:12px;
	background-size: 15px;
	position: absolute;
	top:10px;
	left:6px;
}
.lis_item4 i{
	width:14px;
	height:15px;
	/*background-size: 10px;*/
	background: url(../image/index/phone.png) 0 0 no-repeat;
	position: relative;
	top: 2px;
}
.lis_item7 b{
	width:14px;
	height:15px;
	left:3px;
	top:8.5px;
	/*background-size: 10px;*/
	background: url(../image/index/weblink.png) 0 0 no-repeat;
}
.lis_item7 .sn-menu .menu-hd{
	padding-left: 20px;
}
.lis-icon{
	position: relative;
	padding-left: 12px;
}
.sn-separator{
	display: inline-block;
    width: 0;
    height: 14px;
    line-height: 14px;
    vertical-align: top;
    position: relative;
    top: 10px;
    left: 3;
    font-size: 0;
    border-left: 1px solid #ccc;
    margin: 0 2px 0 5px;
}

/*-------顶部导航右侧栏-----------------*/
#tm-h-nav{
	width:990px;
	height:32px;
	color:#999;
	margin:auto;
	position: relative;
}
#login-info{
	display: inline-block;
	line-height: 32px;	
}
#login-info .tm-login{
	padding-left: 10px;
}
#login-info .tm-login:hover{
	color: #ff0036;
}
.tm-login,.tm-register{
	padding:0 5px;
	color:#999;
}
/*-----------头部搜索开始------------------------*/
#header{
	width: 100%;
	height:130px;
	position: relative;
	margin:  0 auto;
}

#header .header_search{
	width: 990px;
	height: 106px;
	margin: 0 auto;
	position: relative;
}
#header .header_search .logo{
	height: 130px;
	width: 240px;
	position: absolute;
	top: 0px;
	left: -10px;
}
#header .header_search .logo img{
	height: 130px;
	width: 240px;
}
#header .header_search .search_con{
	height: 100px;
	width: 625px;
	/*background: #ccc;*/
	margin: 0 auto;
	margin-left: 365px;
}
#header .header_search .search_con .search_inp{
	height: 36px;
	border: 2px solid #ff0036;
	/*margin-top: 40px;*/
	position: relative;
	top: 40px;
}
#header .header_search .search_con .search_inp div{
	float: left;
}
#header .header_search .search_con .search_inp .search_input{
	height: 36px;
	width: 489px;
}
#header .header_search .search_con .search_inp .search_input input{
	height: 36px;
	width: 484px;
	outline: none;
	border: none;
	padding-left: 5px;
	font-size: 16px;
}
#header .header_search .search_con .search_inp .search_btn{
	height: 36px;
	width: 132px;
	background: #ff0036;
	text-align: center;
	font-size: 18px;
	line-height: 36px;
	color: #fff;
	font-weight: 600;
	letter-spacing: 5px;
}
#header .header_search .search_con .hot{
	height: 28px;
	line-height: 28px;
	width: 625px;
	position: relative;
	top: 40px;
}
#header .header_search .search_con .hot li{
	float: left;
	margin-right: 10px;
	color: #999;
	font-size: 16px;
	cursor: pointer;
}
#header .header_search .search_con .hot .li{
	color: #ff0036;
}



/*-------顶部大图开始---------------------*/
#img{
	width: 100%;
	height: 400px;
	background: url('../image/list/head_bg_pic.jpg') center center no-repeat;
	cursor: pointer;
}
#img .img_con{
	height: 400px;
	width: 990px;
	margin: 0 auto;
}
#floor{
	width: 100%;
	background: #eee;
}
#floor .yi{
	width: 990px;
	margin:0 auto;
	margin-top: 20px;
}
/*#floor .diyi{
	margin-top: 20px;
}*/
#floor .yi .head{
	width: 990px;
	height: 60px;
	margin-bottom: 5px;

}
#floor .yi .head .head_con{
	width: 380px;
	height: 60px;
	margin:0 auto;
	line-height: 60px;
	background: #fff;
	border-radius: 25px;
	/*vertical-align: middle;*/
}
#floor .yi .head .head_con img{
	vertical-align: middle;
	display: inline-block;
}
#floor .yi .head .head_con .scale{
	transform:scaleX(-1);
}
#floor .yi .head .head_con h3{
	display: inline-block;
	height: 60px;
	width: 120px;
	text-align: center;
	color: #5ea6eb;
	font-size: 20px;
	letter-spacing: 5px;
	font-weight: 600;
}
#floor .yi .yi_content{
	width: 990px;
	margin:0 auto;
	overflow: hidden;
}
#floor .yi .yi_content .yi_li{
	height: 278px;
	width: 183px;
	background: #fff;
	position: relative;
	float: left;
	margin-right: 13px;
	margin-bottom: 13px;
	cursor: pointer;
	border: 1px solid transparent;
}
#floor .yi .yi_content .yi_li:hover{
	border: 1px solid #000;
}
#floor .yi .yi_content .yi_li img{
	width: 183px;
	height: 185px;
	display: inline-block;
	/*background: url('../image/list/2.jpg_.webp.jpg') 0 0 no-repeat;*/
}
#floor .yi .yi_content .yi_li .logo{
	height: 40px;
	width: 80px;
	position: absolute;
	left: 55px;
	top: 170px;
	border: 1px solid #e5e5e5;
	border-radius: 20px;
	background: #fff;
}
#floor .yi .yi_content .yi_li .logo img{
	height: 30px;
	width: 60px;
	position: relative;
	top: 5px;
	left: 10px;
}
#floor .yi .yi_content .yi_li .yiname{
	width: 180px;
	height: 35px;
	margin:0 auto;
	padding-top: 20px;
	line-height: 40px;
	text-align: center;
	color: #000;

}
#floor .yi .yi_content .yi_li .yiprice{
	width: 158px;
	height: 30px;
	margin:0 auto;
	background: red;
	border-radius: 15px;
	text-align: center;
	color: #fff;
	line-height: 30px;
	font-weight: 600;
	letter-spacing: 5px;
}
#floor .er{
	width: 990px;
	margin:0 auto;
	height: 242px;
	/*overflow: hidden;*/
}
#floor .er .head{
	width: 990px;
	height: 60px;
	margin-bottom: 5px;
}
#floor .er .head .head_con{
	width: 390px;
	height: 60px;
	margin:0 auto;
	line-height: 60px;

	/*vertical-align: middle;*/
}
#floor .er .head .head_con img{
	vertical-align: middle;
	display: inline-block;
}
#floor .er .head .head_con .scale{
	transform:scaleX(-1);
}
#floor .er .head .head_con h3{
	display: inline-block;
	height: 60px;
	width: 130px;
	text-align: center;
	color: #fff;
	font-size: 20px;
	letter-spacing: 5px;
	font-weight: 600;
}
#floor .er .er_content{
	width: 990px;
	margin:0 auto;
	/*overflow: hidden;*/
	height: 180px;
	margin-top: 5px;
}
#floor .er .er_content li{
	float: left;
	/*margin-right: 10px;*/
}
#floor .er .er_content .li{
	margin-right: 10px;
}

/*----------猜你喜欢---------*/
#like{
	width: 990px;
	margin:0 auto;
	overflow: hidden;
}
#like .likehead{
	width: 990px;
	height: 60px;
	margin-bottom: 5px;
}
#like .likehead .head_con{
	width: 377px;
	height: 60px;
	margin:0 auto;
	line-height: 60px;
	background: #000;
	color: #fff;
	border-radius: 20px;
	/*vertical-align: middle;*/
}
#like .likehead .head_con img{
	vertical-align: middle;
	display: inline-block;
}
#like .likehead .head_con .scale{
	transform:scaleX(-1);
}
#like .likehead .head_con h3{
	display: inline-block;
	height: 60px;
	width: 120px;
	text-align: center;
	color: #fff;
	font-size: 20px;
	letter-spacing: 5px;
	font-weight: 600;
}
#like li{
	height: 280px;
	width: 185px;
	background: #fff;
	position: relative;
	float: left;
	margin-right: 13px;
	margin-bottom: 13px;
	cursor: pointer;
}
#like li img{
	width: 185px;
	height: 185px;
	display: inline-block;
	/*background: url('../image/list/2.jpg_.webp.jpg') 0 0 no-repeat;*/
}
#like li .like_logo{
	height: 40px;
	width: 80px;
	position: absolute;
	left: 55px;
	top: 170px;
	border: 1px solid #e5e5e5;
	border-radius: 20px;
	background: #fff;
}
#like li .like_logo img{
	height: 30px;
	width: 60px;
	position: relative;
	top: 5px;
	left: 10px;
}

#like li .likename{
	width: 180px;
	height: 35px;
	margin:0 auto;
	padding-top: 20px;
	line-height: 40px;
	text-align: center;
	color: #000;
}
#like li .likeprice{
	width: 158px;
	height: 30px;
	margin:0 auto;
	background: red;
	border-radius: 15px;
	text-align: center;
	color: #fff;
	line-height: 30px;
	font-weight: 600;
	letter-spacing: 5px;
}
.foot{
	width:100%;
	height:374px;
	border-top:1px solid #777;
	margin-top:300px;
}
.foot1{
	width:1190px;
	height:180px;
	margin:0 auto;
	position:relative;
}
.foot1 ul{
	position:absolute;
	top:40px;
	border-bottom:1px solid #ededed;
}
.foot1 ul li{
	float:left;
	display:block;
	width:297px;
	height:100px;
	position:relative;
}
.foot1 ul li span{
	width:40px;
	height:40px;
	border:3px solid red;
	border-radius:50%;
	position:absolute;
	font-size:28px;
	text-align:center;
	line-height:40px;
	top:30px;
	left:30px;
	color:red;
}
.foot1 ul li h4 p{
	color:#aaa;
	font-family:微软雅黑；
}
.foot1 ul li h4{
	position:absolute;
	top:30px;
	left:100px;
}
.foot2{
	width:1190px;
	height:194px;
	margin:0 auto;
	position:relative;
}
.foot2 dl{
	float: left;
    width: 186px;
    padding-left: 52px;
}
.foot2 dt{
	color: #646464;
    font-size: 16px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    text-align: left;
}
.foot2 a{
	width: 100px;
    overflow: hidden;
    text-align: left;
    height: 20px;
    line-height: 20px;
    color: #8b8b8b;
    display:block;
    font-size:12px;
}
.foot2{
	position:relative;
}
.foot3{
	width:186px;
	height:50px;
	position:absolute;
	bottom:0;
}
.foot3 img{
	width:60px;
	height:20px;
	position:absolute;
	bottom:0;
	left:52px;
}
.footer{
	width:100%;
	height:250px;
	background:#000;
	color:#fff;
}
.footer1{
	width:1190px;
	margin:0 auto;
	line-height:25px;
	padding:5px 0;
	display:block;
	text-align:left;
	font-size:12px;
}
.footer2{
	width:1190px;
	margin:0 auto;
	line-height:25px;
	padding:5px 0;
	display:block;
	text-align:left;
	font-size:12px;
}
.footer1 a{
	color:#fff;
}
.footer2 a{
	color:#fff;
}
.footer3{
	line-height: 20px;
    background: #000;
    color: #a4a4a4;
    width: 1190px;
    margin: 0 auto;
    display:block;
    text-align:left;
    font-size:12px;
}
.footer3 a{
	margin-right: 65px;
	color:#a4a4a4;
}
.footer3 b{
	color: #686868;
}
.footer3 p{
	padding-top:10px;
}
.footer3 p a{
	margin-right:10px;
}



/*--------右侧楼层栏-------------------*/
#loucen{
	width: 100px;
	height: 430px;
	/*height: 100%;*/
	background: #8035FB;
	position: fixed;
	right: 65px;
	top: 100px;
	display: none;
}
#loucen .erweima{
	width: 78px;
	height: 78px;
	margin:0 auto;
	/*background: url('../image/list/erweima.png') 0 0 no-repeat;*/
	background-size: cover;
	margin-top: 10px;
	margin-bottom: 10px;
}
#loucen .erweima img{
	width: 78px;
	height: 78px;
}
#loucen .li{
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
	font-size: 12px;
	padding-left: 10px;
	color: #fff;
	/*background: #fff;*/
	/*text-align: center;*/
	cursor: pointer;
}

#loucen .erweima{
	/*background:#34087B;*/
}
#loucen .m{
	text-align: center;
	padding:0;
}
#loucen .f:hover{
	background:#3A0F81;
	/*font-size: 14px;*/
	/*background:rgb(128,53,251);*/
}
#loucen .li a{
	color: #fff;
}
#loucen .li .dz_pic{
	display: inline-block;
	height: 16px;
	width: 16px;
	background:url('../image/list/address.png') 0 0 no-repeat;
	position: relative;
	top: 3px;
}
/*--------右侧选项栏-------------------*/

#select{
	height: 100%;
	width: 35px;
	background: #000;
	position: fixed;
	right: 0px;
	top: 0px;
	cursor: pointer;
	display: none;
}
#select .select_content{
	height: 100%;
	width: 35px;
}
#select .select_content .hong{
	position: relative;
}
#select .select_content .hong:hover{
	background: red;
}
#select .select_content .yi{
	height: 35px;
	width: 35px;
	margin-top: 80px;
}
#select .select_content .yi .bg_pic{
	height: 35px;
	width: 35px;
	background: url('../image/index/select1.png') 0 0 no-repeat;
}
#select .select_content .yi .show{
	position: absolute;
	top: 0px;
	left: -90px;
	background: #626262;
	width: 90px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 14px;
	color: #fff;
}
#select .select_content .er{
	height: 100px;
	width: 35px;
	color: #fff;
	font-size: 14px;
	letter-spacing: 10px;
	margin: 5px 0px;
}

#select .select_content .er span{
	display: inline-block;
	width: 20px;
	margin-left: 10px;
}
#select .select_content .er .bg_pic{
	height: 35px;
	width: 35px;
	background: url('../image/index/select8.png') 0 0 no-repeat;
}
#select .select_content .san{
	height: 35px;
	width: 35px;
	margin: 5px 0px;
}
#select .select_content .san .show{
	position: absolute;
	top: 0px;
	left: -90px;
	background: #626262;
	width: 90px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 14px;
	color: #fff;
}
#select .select_content .san .bg_pic{
	height: 35px;
	width: 35px;
	background: url('../image/index/select2.png') 0 0 no-repeat;
}

#select .select_content .si{
	height: 35px;
	width: 35px;
	margin: 5px 0px;
}
#select .select_content .si .show{
	position: absolute;
	top: 0px;
	left: -90px;
	background: #626262;
	width: 90px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 14px;
	color: #fff;
}
#select .select_content .si .bg_pic{
	height: 35px;
	width: 35px;
	background: url('../image/index/select3.png') 0 0 no-repeat;
}
#select .select_content .wu{
	height: 35px;
	width: 35px;
	margin: 5px 0px;
}
#select .select_content .wu .show{
	position: absolute;
	top: 0px;
	left: -90px;
	background: #626262;
	width: 90px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 14px;
	color: #fff;
}
#select .select_content .wu .bg_pic{
	height: 35px;
	width: 35px;
	background: url('../image/index/select4.png') 0 0 no-repeat;
}
#select .select_content .liu{
	height: 35px;
	width: 35px;
	margin: 5px 0px;

}
#select .select_content .liu .show{
	position: absolute;
	top: 0px;
	left: -90px;
	background: #626262;
	width: 90px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 14px;
	color: #fff;
}
#select .select_content .liu .bg_pic{
	height: 35px;
	width: 35px;
	background: url('../image/index/select5.png') 0 0 no-repeat;
}
#select .select_content .qi{
	height: 35px;
	width: 35px;
	margin-top: 60px;
}
#select .select_content .qi .show{
	position: absolute;
	top: 0px;
	left: -90px;
	background: #626262;
	width: 90px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 14px;
	color: #fff;
}
#select .select_content .qi .bg_pic{
	height: 35px;
	width: 35px;
	background: url('../image/index/select10.png') 0 0 no-repeat;
}
#select .select_content .ba{
	height: 35px;
	width: 35px;
	margin: 10px 0px;
}

#select .select_content .ba .bg_pic{
	height: 35px;
	width: 35px;
	background: url('../image/index/select6.png') 0 0 no-repeat;
}
#select .select_content .ba .ewm{
	height: 207px;
	width: 154px;
	background: url('../image/index/ba2.png') 0 0 no-repeat;
	position: absolute;
	top: -150px;
	left: -154px;
}
#select .select_content .ba .ewm .ewm_bg{
	height: 145px;
	width: 135px;
	margin:  0 auto;
	/*margin-left: 20px;*/
	margin-top: 45px;
	text-align: center;
	color: #fff;
}
#select .select_content .ba .ewm .ewm_bg b{
	color: #F5F900;
}
#select .select_content .ba .ewm .ewm_bg img{
	height: 100px;
	width: 100px;
	position: relative;

}
#select .select_content .jiu{
	height: 35px;
	width: 35px;
	margin:10px 0px;
}
#select .select_content .jiu .bg_pic{
	height: 35px;
	width: 35px;
	background: url('../image/index/select7.png') 0 0 no-repeat;
}
#select .select_content .xian{
	display: none;
}




















